body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

.logo {
  height: 50px; /* Adjust the height as needed */
  margin-right: 10px;
}


header {
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-right: 1px solid #fff;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #4caf50;
}

nav a:last-child {
  border-right: none;
}

.jumbotron {
  background-image: url("hi.webp");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  margin-bottom: 40px;
}

.jumbotron h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.jumbotron p {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.button {
  background-color: #4caf50;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1em;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

section {
  padding: 30px 0; /* Slightly smaller space between sections */
}

h2 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  color: #4caf50;
}

p {
  font-size: 1.1em;
  line-height: 1.8;
  margin-bottom: 20px;
}

.image-scroller {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto; /* Slightly smaller margin */
}

.image-scroller-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.image-scroller img {
  max-height: 300px; /* Adjusted height for better consistency */
  border-radius: 10px;
  flex-shrink: 0;
  width: calc(50% - 10px); /* Adjusted width to take up half the screen minus margin */
  margin-right: 10px;
  object-fit: cover; /* Ensure the aspect ratio is maintained while covering the container */
}

.image-scroller img:last-child {
  margin-right: 0;
}



.embedded-link {
  display: flex;
  justify-content: space-between;
}

.embedded-link img {
  max-width: calc(50% - 10px); /* Subtracting 10px for margin-right between images */
  border-radius: 10px;
  margin-right: 10px;
}

.embedded-link img:last-child {
  margin-right: 0;
}

.embedded-link img:hover {
  transform: scale(1.05);
}

.profile-scroller {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto; /* Slightly smaller margin */
}

.profile-scroller-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.profile {
  flex-shrink: 0;
  width: calc(100% / 3);
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.profile img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s;
}

.profile-box:hover {
  transform: scale(1.05);
}

.profile-name {
  font-size: 1.5em;
  margin: 10px 0;
  font-weight: bold;
  color: #4caf50;
}

.profile-bio {
  font-size: 1em;
  color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: bottom 0.3s ease;
}

.footer-hidden {
  bottom: -100px;
}
/* Header Logo */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px; /* Adjust the height as needed */
  margin-right: 10px;
}

/* Footer Logos and Text */
.footer-text {
  display: flex;
  align-items: center;
}

.footer-text img {
  height: 30px; /* Adjust the height as needed */
  margin-right: 10px;
}

.footer-text p {
  margin-right: auto;
}

/* Footer Text */
.footer-text p {
  margin-top: 10px;
  font-size: 0.9em; /* Adjust the font size as needed */
}